/* Image Gallery */
#gallery-in {
    background-image: linear-gradient(rgba(9, 5, 54, 0.3), rgba(5, 4, 46, 0.7)), url("../imgs/alumnos.jpg");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 40px;
}

#gallery-in h2 {
    color: #fff;
    font-size: 2.2rem;
    letter-spacing: 1px;
}

#gallery {
    padding: 8vw 8vw;
    text-align: center;
    background-color: #f8f8f8;
}

#gallery h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: rgb(10, 10, 107);
    margin-bottom: 50px;
}

.gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
}

.gallery-item {
    overflow: hidden;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.gallery-item:hover img {
    transform: scale(1.1);
}

/* Modal for Enlarged Image */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* Media Queries */
@media(max-width: 769px) {
    #gallery {
        padding: 8vw 4vw;
    }

    #gallery h1{
        padding-top: 7vh;
    }

    .gallery-container {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}

@media(max-width: 480px) {
    .gallery-container {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }

    #gallery h1{
        padding-top: 10vh;
    }


    .modal-content {
        width: 100%;
    }
}
