/* Inicio */
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

#about-home {
    background-image: linear-gradient(rgba(9, 5, 54, 0.3), rgba(5, 4, 46, 0.7)), url("/imgs/alumnos.jpg");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 40px;
}

#about-home h2 {
    color: #fff;
    font-size: 2.2rem;
    letter-spacing: 1px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    line-height: 1.5;
}

body {
    font-family: 'Poppins', sans-serif;
}

p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}

button.normal {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #b4a43fe0;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: all 0.45s ease;
}

button.white {
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: #fff;
    background-color: transparent;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid #fff;
    outline: none;
    transition: all 0.45s ease;
}

body {
    width: 100%;
}

/* Header-Start */
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #f3e2d3;
    box-shadow: 0 5px 15px rgba(181, 112, 34, 0.361);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
    color: #814d08cd;
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #814d08cd;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#mobile {
    display: none;
    align-items: center;
}

#close {
    display: none;
}

#page-header .about-header {
    background-image: url("/images/Banners/b1.jpg");
}

#about-head {
    display: flex;
    align-items: center;
    margin: 40px 0;
}

#about-head img {
    width: 50%;
    height: auto;
}

#about-head div {
    padding-left: 40px;
}

/* Contact Page */
#contact-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#contact-details .details {
    width: 45%;
}

#contact-details .details span {
    font-size: 15px;
}

#contact-details .details h2,
#form-details form h2 {
    color: rgb(10, 10, 107);
    font-size: 26px;
    line-height: 35px;
    padding: 20px 0;
}

#contact-details .details h3 {
    color: rgb(10, 10, 107);
    font-size: 16px;
    padding-bottom: 15px;
}

#contact-details .details li {
    list-style: none;
    display: flex;
    padding: 10px 0;
}

#contact-details .details li i {
    font-size: 14px;
    padding-right: 22px;
}

#contact-details .details li p {
    margin: 0;
    font-size: 14px;
}

#contact-details .map {
    width: 50%;
    height: 400px;
}

#contact-details .map iframe {
    width: 100%;
    height: 100%;
}

#form-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 30px;
    padding: 40px;
    border: 1px solid #e1e1e1;
}

#form-details form {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#form-details form input,
#form-details form textarea {
    width: 100%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #e1e1e1;
}

#form-details form .btn {
    margin-top: 20px;
}

#form-details form button.green {
    text-decoration: none;
    font-size: 0.9rem;
    padding: 13px 35px;
    background-color: #fff;
    font-weight: 600;
    border-radius: 5px;
    color: #fff;
    background: rgb(40, 199, 69);
    border: none;
    transition: 0.3s ease;
}

#form-details form button.green:hover {
    color: #fff;
    background: rgb(10, 10, 107);
    cursor: pointer;
}

#form-details .people {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 600px;
}

#form-details .people div {
    padding-bottom: 25px;
    display: flex;
    align-items: flex-start;
    width: 100%;
}

#form-details .people div img {
    width: 80px;
    height: 100px;
    object-fit: cover;
    margin-right: 15px;
}

#form-details .people div p {
    margin: 0;
    font-size: 13px;
    line-height: 25px;
}

#form-details .people div p span {
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: #000;
}


/* Media Queries */
@media (max-width: 1200px) {
    .section-p1 {
        padding: 20px 40px;
    }

    #header {
        padding: 20px 40px;
    }

    #contact-details {
        flex-direction: column;
    }

    #contact-details .details, 
    #contact-details .map {
        width: 100%;
    }

    #form-details {
        flex-direction: column;
        padding: 20px;
    }

    #form-details .people{
        padding-top: 40px;
    }
}