@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

/*Global Tags*/

h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: rgb(10, 10, 107);
}

span {
    font-size: .9rem;
    color: #757373;
}

h6 {
    font-size: 1.1rem;
    color: rgb(24, 24, 49);
}

/*NavBar*/
nav {
    position: fixed;
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1vw 8vw;
    box-shadow: 2px 2px 10px rgb(0, 0, 0, 0.15);
    z-index: 999;
}

nav img {
    width: 60px;
    cursor: pointer;
}

nav .navigation {
    display: flex;
}

#menu-btn {
    width: 70px;
    height: 50px;
    display: none;
}

#menu-close {
    display: none;
}

nav .navigation ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

nav .navigation ul li {
    list-style: none;
    font-style: normal;
    margin-left: 30px;
}

nav .navigation ul li a {
    text-decoration: none;
    color: rgb(10, 10, 107);
    font-size: 1.2rem;
    font-weight: 600;
    color: rgb(10, 10, 107);
    transition: 0.3s ease;
}

nav .navigation ul li a.active,
nav .navigation ul li a:hover {
    color: rgb(40, 199, 69);
}


footer {
    padding: 3vw;
    background-color: rgb(10, 10, 107);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    position: fixed;
}

/*Footer*/
footer .pro-links {
    margin-top: 0px;
}

footer  .pro-links i {
    background-color: #fff;
    color: rgb(10, 10, 107);
}

footer  .pro-links i:hover {
    background: rgb(40, 199, 69);
    color: #fff;
    border: 1px solid rgb(10, 10, 107);
    cursor: pointer;
}

footer .expert-box .profile .pro-links {
    margin-top: 0px;
}

footer  .pro-links i {
    background-color: #fff;
    color: rgb(10, 10, 107);
}

footer .pro-links i {
    padding: 10px 13px;
    border: 1px solid rgb(10, 10, 107);
    cursor: pointer;
    transition: 0.3s ease;
}

footer .pro-links i:hover {
    background: rgb(40, 199, 69);
    color: #fff;
    border: 1px solid rgb(10, 10, 107);
    cursor: pointer;
}

#message {
    display: none;
    background-color: lightgreen;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}


.footer {
    position: relative;
    width: 100%;
    background: rgb(10, 10, 107);
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.menu {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

.menu-elem {
    list-style: none;
}

.menu-elem .li {
    color:#fff;
}

.menu-icon {
    color: #fff;
    font-size: 15px;
    display: inline-block;
    text-decoration: none;
    margin: 5px 10px;
    opacity: 0.5;
    transition: 0.3s;
}

.menu-icon:hover {
    opacity: 1;

}

.text {
    color: white;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 20px;
}

/*Query Media*/

@media (max-width: 769px) {
    nav {
        padding: 15px 20px;
    }

    nav img {
        width: 50px;
    }

    #menu-btn {
        display: initial;
    }

    #menu-close {
        display: initial;
        font-size: 1.6rem;
        color: #fff;
        padding: 30px 0 20px 20px;
    }

    nav .navigation ul {
        position: absolute;
        top: 0;
        right: -220px;
        width: 220px;
        height: 100vh;
        background: rgb(17, 20, 104, 0.45);
        backdrop-filter: blur(4.5px);
        border: 1px solid rgba(255, 255, 255, 0.18);
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        transition: 0.3s ease;
    }

    nav .navigation ul.active {
        right: 0;
    }

    nav .navigation ul li {
        padding: 20px 0 20px 40px;
        margin-left: 0;
    }

    nav .navigation ul li a {
        color: #fff;
    }

    #home {
        padding-top: 0px;
    }

    #home p {
        width: 100%;
    }

    #features {
        padding: 8vw 4vw 0 4vw;
    }

    #course {
        padding: 8vw 4vw 0 8vw;
        text-align: center;
    }

    footer .copyright .pro-links {
        margin-top: 15px;
    }

    footer .i {
        padding: 8vw 4vw 0 8vw;
    }
}